@font-face {
    font-family: 'Handlee';
    src: url('./Handlee-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



:root {
    --tileBeige: #F6F4F2;
}

* {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 0.3rem;

}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
}

button {
    font-family: inherit;
}

html, body {
    height: 100%;
    width: auto;
    margin: 0px;
    font-family: 'Handlee';
}

.containerGrid {
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-columns: 0.7fr 2fr 0.7fr;
    grid-template-rows: 2fr 8fr 0.5fr;
}

#navHeader {
    display: grid;
    grid-template-rows: 1fr 0.3fr;

    align-items: center;
    justify-items: center;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    gap: 1rem;
    background-color: #F6F4F2;

    border-bottom: 2px solid black;
    padding-bottom: 2rem;

}

.logo {
    grid-row: 1 / 2;
    max-width: 60rem;
    max-height: 10rem;
    margin: 0;
    padding: 0;
}

nav {
    display: grid;
    grid-auto-flow: column;
    border-radius: 2rem;

    grid-row: 2 / 3;
    min-width: 35%;

    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    margin: 1rem;

}

nav button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.5rem;
}

nav button:hover {
    background-color: #cacacaaa;
    text-decoration: underline;
}

nav button.active {
    background-color: #ffffe7;
    text-decoration: underline;
}

#content {
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.7fr;


    grid-column: 1 / 4;
    grid-row: 2 / 3;

    height: auto;
    background: url('../img/background-pattern.png');
    background-size: 25rem;

    background-color: rgba(255, 255, 255, 0.96);

    background-blend-mode: lighten;

    box-shadow: -0.5rem gray;
}

#home {
    grid-column: 2 / 3;
    padding: 1.5rem;
    font-size: 1.7rem;
    line-height: 2.5rem;
    overflow-y: auto;
}

#menu {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-rows: 1fr;
    column-gap: 0rem;
    height: 100%;
    max-height: 75.6vh;
    overflow-y: scroll;
}

#about {
    display:grid;
    grid-column: 2 / 3;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 3fr 2fr;

    align-items: center;
    justify-items: center;
}

.aboutText {
    font-size: 2rem;
    line-height: 2rem;
}

.map {
    height: auto;
    grid-column: 2 / 3;
    width: 80%;
    height: 80%;
}

.tile {
    display: grid;
    grid-template-rows: 4fr 0.3fr 1fr 0.5fr;
    grid-template-columns: 1fr 0.8fr;
    max-height: 50rem;
    min-height: 27rem;
    font-size: 1.5rem;
    background: var(--tileBeige);

    border-left: 0.5rem solid var(--project-border-yellow);
    box-shadow: -0.1rem 0.1rem 0.1rem 0.1rem lightgray;

    margin: 1rem;
    border-radius: 0.5rem;
}

.menuPic {
    align-self: center;
    justify-self: center;
    grid-row: 1 / 2 ;
    grid-column: 1 / 3;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding-right: 3rem;
}

.name {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    justify-self: center;

}

.price {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: center;
    padding-left: 5rem;
}

.description {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    padding-left: 2rem;
    align-self: center;
    justify-self: center;
    font-size: 1.2rem;
}


/* .project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-rows: 1fr;

    overflow-y: auto;
    border-radius: 2rem;
    gap: 1rem;
    margin-left: 1rem;
}

.project-card {
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.5fr;
    grid-template-columns: 1fr 0.8fr;
    max-height: 30rem;
    min-height: 15rem;
    font-size: 1.5rem;
    border-left: 0.5rem solid var(--project-border-yellow);
    box-shadow: -0.1rem 0.1rem 0.1rem 0.1rem lightgray;
    padding:2rem;
    border-radius: 0.5rem;
    background-color: white;


} */






.hidden {
    display: none;
}

footer {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    width: 100%;
    height:100%;
    background-color: #F6F4F2;
    border-top: 2px solid black;
}